.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14191d;
  padding: 10px 20px;
  font-family: sans-serif;
}

.logo {
  width: 200px;
  height: 200px;
}

.header-left {
  margin-left: 15%;
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}


.nav a {
  color: #98aaba;
  text-decoration: none;
}

.user-menu {
  display: inline-block; /*Allows the dropdown to sit inline (like text or icons) but still act like a block (can contain width/height, padding, etc.)*/
  position: relative; /*Makes this container the reference point for absolutely positioned children (like .dropdown-menu)*/
  align-items: center;
  gap: 4px;
  text-transform: uppercase;
}

.dropdown-trigger {
  cursor: pointer;
}

.dropdown-menu {
  display: none; /*Initially hidden*/
  flex-direction: column;
  position: absolute; /*Positions the menu relative to the nearest ancestor with position: relative*/
  top: 100%; 
  left: 0; /*Aligns the dropdown to the left of the .dropdown*/
  background-color: #8998aa;
  min-width: 120px;
  padding: 8px 0;
  border-radius: 4px;
  z-index: 1000;
}

.user-menu:hover .dropdown-menu { /*Activates when the user hovers over .dropdown and targets the menu inside the hovered .dropdown.*/
  display: flex; /*Flex makes the menu visible (overrides display: none) and enables flex-direction: column*/
}

.dropdown-menu a:hover {
  background-color: #617180;
  cursor: pointer; 
}

.dropdown-menu a {
  padding: 10px 16px;
  text-decoration: none; /*Removes underline from links*/
  color: #3b3645;
}

.avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.log-container {
  position: relative;
}

.log-button {
  background-color: #1db954;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.log-button:hover {
  background-color: #169944;
}

.icon-sm {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.flash-icon {
  color: 98aaba;
}
