#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}

.film-list {
  display: flex;
  flex-wrap: wrap;      /* allows cards to wrap to next line if needed */
  gap: 16px;            /* space between cards */
  justify-content: flex-start; /* align cards at the start */
}

.main-content {
  padding-top: 60px; /* Same as header height */
}